In [18]:
import numpy as np
import pandas as pd
from sklearn import svm

# Read data from training set

In [31]:
data = pd.read_csv('train_data.csv')
data_test = pd.read_csv('test_data.csv')
data.head()

,city_0,city_1,city_2,city_3,city_4,city_5,city_6,city_7,city_8,type of MM_0,...,blood lactic dehydrogenise (LDH),alkaline phosphatise (ALP),total protein,albumin,glucose,pleural lactic dehydrogenise,pleural protein,pleural albumin,pleural glucose,C-reactive protein (CRP)
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,275.0,65.0,7.1,3.8,141.0,458.0,4.1,2.2,25.0,101.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,139.0,62.0,6.7,4.1,93.0,129.0,0.0,0.0,76.0,24.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,453.0,46.0,5.5,2.7,100.0,323.0,4.9,2.6,23.0,67.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,343.0,63.0,5.6,3.2,119.0,343.0,4.6,2.8,65.0,34.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,503.0,52.0,7.6,3.9,94.0,545.0,5.5,3.3,29.0,78.0

In [26]:
print(data.columns)

Index(['city_0', 'city_1', 'city_2', 'city_3', 'city_4', 'city_5', 'city_6',
       'city_7', 'city_8', 'type of MM_0', 'type of MM_1', 'type of MM_2',
       'keep side_0', 'keep side_1', 'keep side_2', 'habit of cigarette_0',
       'habit of cigarette_1', 'habit of cigarette_2', 'habit of cigarette_3',
       'gender', 'asbestos exposure', 'cytology', 'dyspnoea', 'ache on chest',
       'weakness', 'performance status', 'hemoglobin (HGB)', 'dead or not',
       'pleural effusion', 'pleural thickness on tomography',
       'pleural level of acidity (pH)', 'class of diagnosis', 'age',
       'duration of asbestos exposure', 'duration of symptoms', 'white blood',
       'cell count (WBC)', 'platelet count (PLT)', 'sedimentation',
       'blood lactic dehydrogenise (LDH)', 'alkaline phosphatise (ALP)',
       'total protein', 'albumin', 'glucose', 'pleural lactic dehydrogenise',
       'pleural protein', 'pleural albumin', 'pleural glucose',
       'C-reactive protein (CRP)'],
      dtype='object')

# Create handles for continuous and categorical data

In [51]:
continuuous_features = ['age', 'duration of asbestos exposure',
                        'duration of symptoms', 'white blood',
                        'cell count (WBC)', 'platelet count (PLT)',
                        'sedimentation', 'blood lactic dehydrogenise (LDH)',
                        'alkaline phosphatise (ALP)', 'total protein',
                        'albumin', 'glucose', 'pleural lactic dehydrogenise',
                        'pleural protein', 'pleural albumin',
                        'pleural glucose', 'C-reactive protein (CRP)']

data_continuous = data[continuuous_features]
data_categorical = data.drop(continuuous_features, axis=1)
continuous_names = data_continuous.columns[:]
categorical_names = data_categorical.columns[:]
data_independent = data.drop(['class of diagnosis'], axis=1)
data_dependent = data['class of diagnosis']

data_test_independent = data_test.drop(['class of diagnosis'], axis=1)

,city_0,city_1,city_2,city_3,city_4,city_5,city_6,city_7,city_8,type of MM_0,...,blood lactic dehydrogenise (LDH),alkaline phosphatise (ALP),total protein,albumin,glucose,pleural lactic dehydrogenise,pleural protein,pleural albumin,pleural glucose,C-reactive protein (CRP)
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.125414,-0.016276,-0.277567,-0.239882,-0.026862,-0.115086,0.157022,0.111154,-0.239017,0.129535
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.075891,0.346042,-0.114776,0.106272,-0.110195,-0.221247,-0.633300,-0.479755,0.462014,-0.277873
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.172815,-0.001784,0.187549,-0.201420,0.167582,-0.210820,-0.122010,-0.077483,-0.094687,0.018424
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.178407,-0.074247,-0.091521,0.337041,-0.007021,0.388232,0.366700,0.520245,-0.321491,0.018424
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.026626,-0.001784,0.234061,-0.124497,-0.050672,-0.265797,-0.633300,-0.479755,0.462014,-0.277873

# Prepare data for SVM model

In order to improve the SVM's performance we normalize each column containing continuous features such that mean of each such column is equal to 0 and variance is equal to 1.

In [48]:
data[continuous_names] = data[continuous_names].apply(
    lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))

data_test[continuous_names] = data_test[continuous_names].apply(
    lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))